telethon==1.36.0
pyaes==1.6.1
rsa==4.9.1

supabase==2.3.1
gotrue==2.8.1
postgrest==0.13.2
storage3==0.7.4
realtime==1.0.4
supafunc==0.3.3

httpx==0.24.1
httpcore==0.17.3

python-dotenv==1.0.0

flask==3.0.2
